<!doctype html>

<html>
<head>
	<title>Travel App</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">

	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Map to activities</h1>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="row">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="col-xs-12">
		    <div class="row nav navbar-nav">
		    	<div class="col-xs-3"><a href="/"><span class="glyphicon glyphicon-home"></span></a></div>
		    	<div class="col-xs-3"><a href="/city/sandiego"><span class="glyphicon glyphicon-search"></span></a></div>
		    	<div class="col-xs-3"><a href="/activities/:one,two,three"><span class="glyphicon glyphicon-list"></span></a></div>
		    	<div class="col-xs-3"><a href="/map/:sakdkjasdksajd"><span class="glyphicon glyphicon-map-marker"></span></a></div>
		    </div>
	    </div>
	  </div>
	</nav>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
