<!doctype html>

<html>
<head>
	<!-- Standard Meta Google API: -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- Site Properties -->
	<title>Travel App</title>
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/reset.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/site.css">

	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/container.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/grid.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/header.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/menu.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/image.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/list.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/modal.css">

	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/divider.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/segment.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/form.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/input.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/button.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/list.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/message.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/icon.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/dropdown.css">
	<link rel="stylesheet" type="text/css" href="/semantic/dist/components/transition.css">
	<link rel="stylesheet" type="text/css" href="/css/selectActivities.css">   
</head>

<body>
	<div class="ui middle aligned center aligned grid">
	  <div class="column">
	    <h2 class="ui image header">
	      <div class="content">
	        {{city}}
	      </div>
	    </h2>
	    <div class="ui stacked segment">
	    	<div class="ui middle aligned divided list">
				<div class="item" id="1">
					<div class="left floated content">
						<img class="ui tiny avatar image" id="img" src="/images/selectactivity.png">
						<p class="right floated" id="text">Activity 1</p>
					</div>
				</div>
				<div class="item" id="2">
					<div class="left floated content">
						<img class="ui tiny avatar image" id="img" src="/images/selectactivity.png">
						<p class="right floated" id="text">Activity 2</p>
					</div>
				</div>
				<div class="item" id="3">
					<div class="left floated content">
						<img class="ui tiny avatar image" id="img" src="/images/selectactivity.png">
						<p class="right floated" id="text">Activity 3</p>
					</div>
				</div>
				<br>
				<button class="ui fluid large teal button" id="submit">Search for Activities</button>
			</div>
	    </div>
	  </div>
	</div>

	<div class="ui modal" id="modal1">
		<i class="close icon"></i>
		<div class="header">
			Select Activity #1
		</div>
		<div class="content">
			<div class="ui clearing right middle aligned segment" id="category11">
				<img class="ui tiny left floated image" src="/images/bicycle.png">			
				<div class="ui right floated">Category 1</div>
			</div>
			<div class="ui clearing right middle aligned segment" id="category21">
				<img class="ui tiny left floated image" src="/images/glass.png">			
				<div class="ui right floated">Category 2</div>
			</div>
		</div>
	</div>

	<div class="ui modal" id="modal2">
		<i class="close icon"></i>
		<div class="header">
			Select Activity #2
		</div>
		<div class="content">
			<div class="ui clearing right middle aligned segment" id="category12">
				<img class="ui tiny left floated image" src="/images/bicycle.png">			
				<div class="ui right floated">Category 1</div>
			</div>
			<div class="ui clearing right middle aligned segment" id="category22">
				<img class="ui tiny left floated image" src="/images/glass.png">			
				<div class="ui right floated">Category 2</div>
			</div>
		</div>
	</div>

	<div class="ui modal" id="modal3">
		<i class="close icon"></i>
		<div class="header">
			Select Activity #3
		</div>
		<div class="content">
			<div class="ui clearing right middle aligned segment" id="category13">
				<img class="ui tiny left floated image" src="/images/bicycle.png">			
				<div class="ui right floated">Category 1</div>
			</div>
			<div class="ui clearing right middle aligned segment" id="category23">
				<img class="ui tiny left floated image" src="/images/glass.png">			
				<div class="ui right floated">Category 2</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="/semantic/dist/components/form.js"></script>
	<script src="/semantic/dist/components/transition.js"></script>
	<script src="/semantic/dist/components/dropdown.js"></script>
	<script src="/semantic/dist/components/modal.js"></script>
	<script src="/semantic/dist/components/dimmer.js"></script>
  	<script src="/js/selectActivities.js"></script>    
</body>
</html>
