body {
  background-color: #72cffd;
}

body > .grid {
  height: 100%;
}

.column {
  max-width: 450px;
}

@media (max-width: 450px) {
  .column { 
    margin-right: 20px; 
    margin-left: 20px;
  }
}