html{
	text-align: center;
}

p {

    font-family: "Arial", Times, serif;
    font-size: 40px;

}

div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 100px solid #FFFFFF;
} 

p1 {
  font-szie:50px;
}



